# Secrets
.env
*.json

# Python
__pycache__/
*.pyc
venv/

# Flutter/Dart
mobile/.dart_tool/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.metadata
mobile/android/local.properties
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/

# IDE
.idea/
*.iml
.vscode/
*.swp

